.heading {
  color: #fff4f4;
  text-align: center;
  font-size: x-large;
  max-width: 465px;
  position: relative;
  left: 32.5%;
}

h2 {
  text-align: center;
}

body {
  background-image: url("back\ 2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.contact-info,
.payment-info {
  max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: relative;
  left: 33%;
}

.all {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.contact-info fieldset,
.payment-info fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #ffd2d2;
  padding: 20px;
  background: #fff4f4;
  box-shadow: inset 0px 0px 15px #ffe5e5;
  -moz-box-shadow: inset 0px 0px 15px #ffe5e5;
  -webkit-box-shadow: inset 0px 0px 15px #ffe5e5;
}

.payment-info input[type="submit"],
.payment-info input[type="button"] {
  background: #1b5d5f;
  border: 1px solid #145b6d;
  padding: 5px 15px 5px 15px;
  color: #ffcbe2;
  box-shadow: inset -1px -1px 3px #135f72;
  -moz-box-shadow: inset -1px -1px 3px #135869;
  -webkit-box-shadow: inset -1px -1px 3px #10596b;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}
.payment-info input[type="submit"]:hover,
.payment-info input[type="button"] :hover {
  background: #d4ffcb;
  color: #39a0a3;
}

.confirm {
  margin-left: 30%;
}
.heading h1{
  border-bottom: 4px solid #10596b;
  transition: 0.5s;
}
.heading h1:hover{
  border-color: #39a0a3;
  transform: scale(1.1);
}
.contact-info{
  width: 100%;
}
.form-heading{
  /* color: #10596b; */
  font-size: 30px;
  text-shadow: 2px 2px 4px #000;
  transition: 0.5s;
}
.form-heading:hover{
  border-bottom: 4px solid #10596b;
}
.gender-r{
  margin: 20px;
  margin-right: 40px;
  margin-left: 0px;
}
p{
  margin: 20px;
  font-weight: 500;
}
input{
  background-color: #fff4f4;
  padding: 5px;
  margin-left: 25px;
  border: 2px solid #ffcbe2;
  transition: 0.5s;
}
.doc-upload{
  padding: 10px;
}
textarea{
  color: #000;
  background-color: #fff4f4;
  border: 2px solid #ffcbe2;
  transition: 0.5s;
}
textarea:hover , input:hover, textarea:active, input:active{
  border: 2px solid #135f72;
  border-radius: 10px;
}
.nationality-radio{
  margin: 10px;
  margin-right: 20px;
}
.contact-info,.payment-info{
  transition: 0.5s;
}
.contact-info:hover, .payment-info:hover{
  box-shadow: 10px 10px 5px #000;
}
.confirm input{
  /* margin: 10px; */
  padding: 5px;
  margin: 10px;
}